.movie-card {
  display: flex;
  padding: 15px;
}

.movie-card__image-wrapp {
  width: 500px;
  margin-right: 30px;
}

.movie-card__image {
  display: block;
}

.movie-card__content {
  padding: 40px 0;
}
